@import "tailwindcss";

@theme {
  --color-sol-base03: #002b36;
  --color-sol-base02: #073642;
  --color-sol-base01: #586e75;
  --color-sol-base00: #657b83;
  --color-sol-base0: #839496;
  --color-sol-base1: #93a1a1;
  --color-sol-base2: #eee8d5;
  --color-sol-base3: #fdf6e3;
  --color-sol-yellow: #b58900;
  --color-sol-orange: #cb4b16;
  --color-sol-red: #dc322f;
  --color-sol-magenta: #d33682;
  --color-sol-violet: #6c71c4;
  --color-sol-blue: #268bd2;
  --color-sol-cyan: #2aa198;
  --color-sol-green: #859900;
}
