@import "tailwindcss";

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('/fonts/redaction-50-latin-700-normal.woff2') format('woff2'),
       url('/fonts/redaction-50-latin-700-normal.woff') format('woff'),
       url('/fonts/redaction-50-latin-700-normal.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('/fonts/redaction-50-latin-700-italic.woff2') format('woff2'),
       url('/fonts/redaction-50-latin-700-italic.woff') format('woff'),
       url('/fonts/redaction-50-latin-700-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-sol-base03: #002b36;
  --color-sol-base02: #073642;
  --color-sol-base01: #586e75;
  --color-sol-base00: #657b83;
  --color-sol-base0: #839496;
  --color-sol-base1: #93a1a1;
  --color-sol-base2: #eee8d5;
  --color-sol-base3: #fdf6e3;
  --color-sol-yellow: #b58900;
  --color-sol-orange: #cb4b16;
  --color-sol-red: #dc322f;
  --color-sol-magenta: #d33682;
  --color-sol-violet: #6c71c4;
  --color-sol-blue: #268bd2;
  --color-sol-cyan: #2aa198;
  --color-sol-green: #859900;
  --font-alte: 'Alte Haas Grotesk', sans-serif;
  --font-redaction: 'Redaction 50', serif;
}
